*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: rgba(245, 245, 245, 0.808);
    width: 100%;
    height: 80px;
    box-sizing: border-box;

}
.nav-logo{
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    padding: 0.4rem;
    margin: 0.8rem;
    padding-left: 5rem;
}
.nav-anchors{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-left: 30rem;
} 
.nav-anchors a{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 2.5rem;


}
.nav-anchors a:hover{
  color: rgba(200, 200, 23, 0.818);
  cursor: pointer;
  transform: translateY(-3px);
}
.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-button button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.7rem;
    border-radius: 25px;
    border: none;
    background-color: rgba(200, 200, 23, 0.818);
}
.nav-button button:hover{
    color: whitesmoke;
    cursor: pointer;
    background-color: rgb(25, 24, 24);
}
body{
    background-color: rgb(25, 24, 24);
}
.home-div1{
    color: white;
    margin-top: 11rem;
    margin-left: 5.5rem;
    text-align: left;
}
#p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    color: rgba(200, 200, 23, 0.818);

}
#p2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
    font-weight: bolder;
     color: rgba(245, 245, 245, 0.808);
     animation: p2 1.5s ease-in-out;
     animation-direction: normal;
     animation-fill-mode: forwards;

}
@keyframes p2 {
    from{
        margin-left: -10rem;
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility:visible;
        opacity: 1;
    }
    
}
#p3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: rgba(245, 245, 245, 0.808);
    animation: p3 1.5s ease-in-out normal forwards ;

}
@keyframes p3 {
    from{
        margin-top: -7rem;
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility:visible;
        opacity: 1;
    }
    
}
.home-div1 button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.7rem;
    border-radius: 25px;
    border: none;
    background-color: rgba(200, 200, 23, 0.818);
    animation: div1-button 1s ease-in-out normal forwards;
}

@keyframes div1-button {
    from{
        margin-bottom: -15rem;
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility:visible;
        opacity: 1;
    }
    
    
}
.home-div1 button:hover{
    color: whitesmoke;
    cursor: pointer;
    background-color: rgba(49, 47, 47, 0.833)
}
.home-div2{
    margin-top: -22rem;
    margin-left: 58rem;
    background-color: rgba(200, 200, 23, 0.818);
    height: 28rem;
    width: 28rem;
    border-radius: 50%;


}
.home-div2 img{
    height: 29rem;
    margin-left: -7.5rem;
    margin-top: -1rem;
}
.home-div3{
    width: 27rem;
    height: 4.5rem;
    background-color: rgba(200, 200, 23, 0.818);
    display: flex;
    margin-left: 58.3rem;
    margin-top: -2.5rem;
    border: 4px whitesmoke solid;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position:  relative;
    background-position:2rem;
}

.contactdiv{
    min-width: 100%;
    height: 100vh;
    background-color: rgba(49, 47, 47, 0.833);
}
.formheading{
    display:flex;
    justify-content: center;
    align-items: center;
}
.p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    color: rgba(200, 200, 23, 0.818);
    margin-top: 40px;
}
.p2{
    color: rgba(245, 245, 245, 0.808);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 110px;
    margin-left: -9.5rem;
}

.input{
    background-color: rgb(25, 24, 24);
    width: 50%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    font-size: 1rem;
    color: whitesmoke;
    border: 2px rgba(200, 200, 23, 0.818) solid;
    margin-left: 23%;
}
#email{
    animation: email-an 2s ease-in-out normal forwards;
}
@keyframes email-an {
    from{
        opacity: 0;
        visibility: hidden;
        margin-left: -10rem;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
    
}
#phone{
    animation: phone-an 2s ease-in-out normal forwards;
}
@keyframes phone-an {
    from{
        opacity: 0;
        visibility: hidden;
        margin-left: -10rem;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
    
}
#username{
    animation: user-an 2s ease-in-out normal forwards;
}
@keyframes user-an {
    from{
        opacity: 0;
        visibility: hidden;
        margin-left: 50rem;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
    
}
#message{
    animation: message-an 2s ease-in-out normal forwards;
}
@keyframes message-an {
    from{
        opacity: 0;
        visibility: hidden;
        margin-left: 50rem;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
    
}
.contactbutton{
    background-color: rgba(200, 200, 23, 0.818);
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 8rem;
    text-align: center;
    border-radius: 25px;
    border: none;
    padding: 0.7rem;
    font-weight: 500;
    margin-inline-start: 40rem;
    margin-top: 1.5rem;
    animation: con-button 4s ease-in-out normal forwards;

}
@keyframes con-button {
    from{
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility:visible;
    }
    
}
.contactbutton:hover{
    color: whitesmoke;
    cursor: pointer;
    background-color: rgb(25, 24, 24);
}